/* Common css for universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Primary color */
.text-orange {
  color: #fd6e0a;
}
/* Nav related style */
nav {
  display: flex;
  padding: 3px;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
  margin-right: 50px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #444;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
/* Header related styles */
.header {
  background: #fff8f3;
  padding: 30px 30px 30px 200px;
}
.banner{
    display: flex;
    align-items: center;
}
